<suite name="Suite1" verbose="1" >

    <parameter name="a" value="5"/>
    <parameter name="b" value="3"/>


    <groups>
        <run>
            <include name="A" />
        </run>
    </groups>


    <test name="Regression1">
        <classes>
            <class name="com.cybertek.tests.day6_testng_intro_dropdowns.TestNG_Intro">

            </class>
        </classes>
    </test>

</suite>